{% extends '::ascultaici.html.twig' %}

{% block body -%}
    <h1><a href="{{ path("ascultaici_playlist_show", {slug: playlist.slug}) }}">{{ playlist.title }}</a> > new track</h1>

    {{ form(form) }}
{% endblock %}
