{% extends '::ascultaici.html.twig' %}

{% block body -%}
    <h1>Playlist edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li><a href="{{ path('ascultaici_track_new', {playlistSlug: entity.slug}) }}">Add track</a></li>
        <li><a href="{{ path('ascultaici_playlist') }}">Back to list</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
